<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>TODO supply a title</title>
    </h:head>
    <h:body>
        <f:view>
            <f:metadata>
                <f:viewParam name="tot" value="#{restauController.restauBean.name}"/>
            </f:metadata>
            <h:messages></h:messages>
            <h:panelGroup id="name_panel">
                Toto's real name is #{param.tot} and #{restauController.restauBean.name}
            </h:panelGroup>

            <h:form>
                <h:commandLink action="#{restauController.stayPut()}">
                    Boss
                    <f:param name="tot" value="Boss"/>
                    <f:ajax render=":name_panel" />
                </h:commandLink>
                <br/>
                <h:commandLink action="#{restauController.stayPut()}">
                    Mune
                    <f:param name="tot" value="Mune"/>
                    <f:ajax render=":name_panel" />
                </h:commandLink>
                <br/>
                <h:link>
                    Dave
                    <f:param name="tot" value="Dave"/>
                    <f:ajax render=":name_panel" />
                </h:link>
            </h:form>
        </f:view>
    </h:body>

</html>
