<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Restaurant Management</title>
    </h:head>
    <h:body>
        <h:form>
            <h:inputText id="name" p:placeholder="Name" value="#{restauController.restauBean.name}"
                         required="true"
                         requiredMessage="Please fill in the name">
                <f:ajax event="blur" render="name_msg save_btn"/>
            </h:inputText>
            <h:inputTextarea p:placeholder="Description" value="#{restauController.restauBean.description}"/>
            <h:commandButton id="save_btn" value="Save" action="#{restauController.save()}"
                             disabled="#{facesContext.validationFailed}">
                <f:ajax render="@all" onevent="testAjax"/>
            </h:commandButton>
        </h:form>
        Do you want to know toto's <h:link outcome="ajax.xhtml">real name<f:param name="tot" value="Denzel"/></h:link> ?
    </h:body>
    
    <script>
        function testAjax(data) {
            if (data.status === 'success') {
                alert("Success story");
            }
        }
    </script>
</html>
