<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Restaurant List</title>
    </h:head>
    <h:body>
        <f:view>
            <h3>List of restaurant</h3>
            <h:form>
                <h:commandButton action="#{restaurantController.reloadList()}"
                                 value="Reload"/>
                <h:dataTable value="#{restaurantController.lstOfRestaurantBean}" var="restaurant">
                    <h:column>
                        <f:facet name="header">Name</f:facet>
                        <h:outputText value="#{restaurant.strName}"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header">Description</f:facet>
                        <h:outputText value="#{restaurant.strDescription}"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header">Actions</f:facet>
                        <h:commandButton action="#{restaurantController.startRestaurantView(restaurant)}"
                                         value="View"/>
                        <h:commandButton action="#{restaurantController.startRestaurantUpdate(restaurant)}"
                                         value="Edit"/>
                    </h:column>
                </h:dataTable>
                <h:commandButton action="#{restaurantController.startRestaurantCreate()}"
                                 value="Create"/>
            </h:form>
        </f:view>

    </h:body>
</html>
