<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Restaurant View Form</title>
    </h:head>
    <h:body>
        <f:view>
            <h3>View Restaurant</h3>
            <h:form>
                <h:panelGrid columns="2" cellpadding="3" cellspacing="3" >
                    <h:outputLabel value="Name"/>
                    <h:inputText value="#{restaurantController.restaurantBean.strName}"/>
                    
                    <h:outputLabel value="Description"/>
                    <h:inputTextarea value="#{restaurantController.restaurantBean.strDescription}"/>
                    
                    <ui:repeat value="#{objectController.getByName(restaurantController.restaurantBean.objectName).lstOfObjectProperty}"
                               var="prop">
                        <h:outputLabel value="#{prop.strProperty}"/>
                        <h:inputText value="#{restaurantController.restaurantBean.mapOfPropertyValue[prop.strProperty]}">
                            <f:converter converterId="propertyValueConverter"/>
                            <f:attribute name="strProperty" value="#{prop.strProperty}"/>
                            <f:attribute name="entityBean" value="#{restaurantController.restaurantBean}"/>
                        </h:inputText>
                    </ui:repeat>
                </h:panelGrid>
                <h:button outcome="/restaurant/list.xhtml" value="List"/>
            </h:form>
        </f:view>

    </h:body>
</html>
